<div class="modal-dialog modal-lg modal-dialog-center modal-dialog-fluid">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">勤怠ログ</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <%= form_with(url:kintai_log_user_path, remote: true, method: :get) do |f| %>
            <%= f.date_select :log_date, {discard_day: true} %>
            <%= f.submit "更新", class: "btn btn-primary btn-default" %>

            <table class="table table-bordered">
              <thead valign="bottom">
              <!-- rowspan:縦結合、colspan：横結合 -->
                <tr>
                  <th>日付</th>
                  <th>変更前出社時間</th>
                  <th>変更前退社時間</th>
                  <th>変更後出社時間</th>
                  <th>変更後退社時間</th>
                  <th>指示者</th>
                  <th>承認日</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% @attendances.each do |day| %>
                  <tr>
                    <!-- 日付 -->
                    <td><%= day.worked_on %></td>
                    <!-- 変更前出社時間 -->
                    <td><%= day.started_at.strftime("%H:%M") if day.started_at.present? %></td>
                    <!-- 変更前退社時間 -->
                    <td><%= day.finished_at.strftime("%H:%M") if day.finished_at.present? %></td>
                    <!-- 変更後出社時間 -->
                    <td><%= day.request_start_at.strftime("%H:%M") if day.request_start_at.present? %></td>
                    <!-- 変更後退社時間 -->
                    <td><%= day.request_finish_at.strftime("%H:%M") if day.request_finish_at.present? %></td>
                    <!-- 指示者 -->
                    <td><%= User.find(day.kintai_change_confirm).name %></td>
                    <!-- 承認日 -->
                    <td><%= day.updated_at.strftime("%Y-%m-%d") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--モーダルウインドウ表示-->
<div id="kintai_log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>