<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td valign="middle">
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-arrow" %>
          【<%= l(@first_day, format: :middle) %>】時間管理表
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-arrow" %>
      </td>
      <td>
        <div>指定勤務開始時間：<%= @user.designates_work_start_time.strftime("%H:%M") %><br></div>
        <div>指定勤務終了時間：<%= @user.designates_work_end_time.strftime("%H:%M") %></div>
      </td>
      <td colspan="3" valign="bottom">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td valign="bottom">初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>
<% if current_user.superior? && current_user?(@user) %>
  <% if Attendance.where(kintai_month_confirm: @user.id, kintai_month_allow: 1).count >= 1 %>
    <div class="zangyou_oshirase font-weight-bold">
  <% elsif %>
    <div>
  <% end %>
    <p>
      <% if Attendance.where(kintai_month_confirm: @user.id, kintai_month_allow: 1).count >= 1 %>
        <%= link_to "所属長承認申請のお知らせ　", edit_month_change_confirm_user_attendance_path(@user, @attendances), remote: true %>
          <span class="box1">
            <%= Attendance.where(kintai_month_confirm: @user.id, kintai_month_allow: 1).count %>件の通知があります。
          </span>
      <% else %>
        所属長承認申請のお知らせ　
      <% end %>
    </p>
    </div>

  <% if Attendance.where(kintai_change_confirm: @user.id, kintai_change_allow: 1).count >= 1 %>
    <div class="zangyou_oshirase font-weight-bold">
  <% elsif %>
    <div>
  <% end %>
    <p>
      <% if Attendance.where(kintai_change_confirm: @user.id, kintai_change_allow: 1).count >= 1 %>
        <%= link_to "勤怠変更申請のお知らせ　", edit_kintai_change_confirm_user_attendance_path(@user, @attendances), remote: true %>
          <span class="box1">
            <%= Attendance.where(kintai_change_confirm: @user.id, kintai_change_allow: 1).count %>件の通知があります。
          </span>
      <% else %>
        勤怠変更申請のお知らせ　
      <% end %>
    </p>
    </div>

  <% if Attendance.where(superior_confirm: @user.id, over_work_allow: 1).count >= 1 %>
    <div class="zangyou_oshirase font-weight-bold">
  <% elsif %>
    <div>
  <% end %>
    <p>
      <% if Attendance.where(superior_confirm: @user.id, over_work_allow: 1).count >= 1 %>
      <%= link_to "残業申請のお知らせ　", edit_overwork_request_confirm_user_attendance_path(@user, @attendances), remote: true %>
        <span class="box1">
          <%= Attendance.where(superior_confirm: @user.id, over_work_allow: 1).count %>件の通知があります。
        </span>
      <% else %>
        残業申請のお知らせ　
      <% end %>
    </p>
    </div>
<% end %>
<div class="container">
  <div class="row">
      <%= link_to "勤怠編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
      <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
  </div>
  <div class="row">
    <%= link_to "勤怠修正ログ（承認済）", kintai_log_user_path(@user, @attendances), remote: true, class: "btn btn-primary" %>
  </div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead valign="bottom">
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td valign="baseline" rowspan="3" class="td-bottom" >　<br>残業時間</td>
        <td valign="bottom" rowspan="3" class="td-bottom" >　<br>日付</td>
        <td valign="bottom" rowspan="3" class="td-bottom" >　<br>曜日</td>
        <td valign="bottom" rowspan="1" colspan="8" >　<br>【実績】</td>
        <td valign="bottom" rowspan="1" colspan="5" >　<br>所定外勤務</td>
      </tr>
      <tr>
        <td rowspan="1" colspan="3">出社</td>
        <td rowspan="1" colspan="3">退社</td>
        <td rowspan="2" colspan="1">在社時間</td>
        <td rowspan="2" colspan="1">備考</td>
        <td rowspan="1" colspan="2">終了予定時間</td>
        <td rowspan="2" colspan="1">時間外時間</td>
        <td rowspan="2" colspan="1">業務処理内容</td>
        <td rowspan="2" colspan="1">指示者確認印</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <!--残業申請 拡張パラメータ-->
          <td><%= link_to "残業申請", edit_overwork_request_user_attendance_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <!--日付-->
          <td><%= l(day.worked_on, format: :short) %></td>
          <!--曜日-->
          <td>
            <% if day.worked_on.wday == 6 %>
              <div class="sat">
            <% elsif day.worked_on.wday == 0 %>
              <div class="sun">
            <% end %>
              <%= $days_of_the_week[day.worked_on.wday] %>
              </div>
          </td>
            <!--出社：時-->
            <td>
              <%= l(day.started_at, format: :hour) if day.started_at.present? %>
            </td>
            <!--出社：分-->
            <td>
              <%= l(day.started_at.floor_to(15.minutes), format: :minute) if day.started_at.present? %>
            </td>

          <!--出勤ボタン表示-->
          <td>
            <% if btn_text = attendance_attend(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-xs" %>
            <% end %>
          </td>
            <!--退社：時-->
            <td>
              <%= l(day.finished_at, format: :hour) if day.finished_at.present? %>
            </td>
            <!--退社：分-->
            <td>
              <%= l(day.finished_at.floor_to(15.minutes), format: :minute) if day.finished_at.present? %>
            </td>
          <!--退社ボタン表示-->
          <td>
             <% if btn_text = attendance_leave(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-xs" %>
            <% end %>
          </td>
          <!--在社時間-->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% if day.next_day == true %>
                <%= str_times = working_times(day.started_at.floor_to(15.minutes), (day.finished_at + 24 * 60 * 60).floor_to(15.minutes)) %>
              <% else %>
                <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% end %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <!--備考-->
          <td><%= day.note %></td>
          <!--終了予定時間：時-->
          <td><%= l(day.overwork_request, format: :hour) if day.overwork_request.present? %></td>
          <!--終了予定時間：分-->
          <td><%= l(day.overwork_request.floor_to(15.minutes), format: :minute) if day.overwork_request.present? %></td>
          <!--時間外時間-->
          <!-- = 終了予定時間 - 指定勤務終了時間-->
          <td>
            <% if day.overwork_request.present? %>
              <% if day.request_next_day == true %>
                <%= jikangai = hour_2f(int_time(day.overwork_request) - int_time(@user.designates_work_end_time) + 24 * 60.0) %>
              <% else %>
                <%= jikangai = hour_2f(int_time(day.overwork_request) - int_time(@user.designates_work_end_time)) %>
              <% end %>
            <% end %>
          </td>
          <!--業務処理内容-->
          <td><%= day.work_content %></td>
          <!--指示者確認印-->
          <td>
            <% if day.kintai_change_confirm== 2 %>
              <% if day.kintai_change_allow == 1%>
                <%= "上長1に勤怠変更申請中" %>
              <% elsif day.kintai_change_allow == 2 %>
                <%= "上長1により勤怠変更承認" %>
              <% elsif day.kintai_change_allow == 3 %>
                <%= "上長1により勤怠変更否認" %>
              <% end %>
            <% elsif day.kintai_change_confirm == 3 %>
              <% if day.kintai_change_allow== 1%>
                <%= "上長2に勤怠変更申請中" %>
              <% elsif day.kintai_change_allow== 2 %>
                <%= "上長2により勤怠変更承認" %>
              <% elsif day.kintai_change_allow == 3 %>
                <%= "上長2により勤怠変更否認" %>
              <% end %>
            <% else %>
              <% "" %>
            <% end %>
          <br>
            <% if day.superior_confirm == 2 %>
              <% if day.over_work_allow == 1%>
                <%= "上長1に残業申請中" %>
              <% elsif day.over_work_allow == 2 %>
                <%= "上長1により残業承認" %>
              <% elsif day.over_work_allow == 3 %>
                <%= "上長1により残業否認" %>
              <% end %>
            <% elsif day.superior_confirm == 3 %>
              <% if day.over_work_allow == 1%>
                <%= "上長2に残業申請中" %>
              <% elsif day.over_work_allow == 2 %>
                <%= "上長2により残業承認" %>
              <% elsif day.over_work_allow == 3 %>
                <%= "上長2により残業否認" %>
              <% end %>
            <% else %>
              <% "" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td rowspan="2"></td>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="1">累計在社時間</td>
        <td rowspan="2" colspan="5"></td>
        <td rowspan="2" colspan="1">
        <%# debugger %>
          <%= form_with(model: @attendances, url: update_month_request_user_path(@user, @attendances), local: true, method: :patch) do |f| %>
            <p><%= l(@first_day, format: :middle) %></p>
            <p>
              所属長
              <% if @allow == 1 %>
                承認　申請中
              <% elsif @allow == 2 %>
                　承認
              <% elsif @allow ==3 %>
                　否認
              <% else %>
                未
              <% end %>
            </p>
            <p>
              <%= f.collection_select :kintai_month_confirm, User.where(superior: true).where.not(id: params[:id]), :id, :name, {include_blank: true}, class: "form-control", required: true %>
            </p>
              <%= f.submit "申請ボタン", class: "btn btn-primary btn-default" %>
              <%= f.hidden_field :month, value: @first_day %>
              <%= f.hidden_field :month_count, value: @attendances.count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="1"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>    
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="kintai_log" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit_month_change_confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit_kintai_change_confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit_overwork_request_confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>