<%# provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-18 col-md-offset-1">
          <%= form_with(model: @attendance, url: update_overwork_request_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>

              <table class="table table-bordered">
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>支持者確認㊞</th>
                </tr>
                <tr>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                  <td><%= f.time_select :overwork_request, {include_blank: true}, class: "input-sm" %></td>
                  <td><%= f.check_box :next_day, {}, "true", "false" %></td>
                  <td><%= f.text_field :work_content, class: "form-control" %></td>
                  <td><%= f.collection_select :superior_confirm, User.where(superior: true).where.not(id: params[:user_id]), :id, :name, {include_blank: true}, class: "form-control", required: true %></td>
                  <%= f.hidden_field :over_work_allow_check, value: false %>
                </tr>
              </table>

            <div class="center">
              <%= f.submit "申請する", class: "btn btn-primary btn-default" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                  キャンセル
              </button> 
            </div>
          <% end %>
        </div>        
      </div>
    </div>
  </div>
</div>