<%# provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center modal-dialog-fluid">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h1 class="modal-title">勤怠変更承認画面</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <%= form_with(url:update_kintai_change_confirm_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <% @attendances.each do |id, attend| %>
              
                <h3 class="text-center">
                  【
                  <%= User.find(id).name %>
                  からの残業申請】
                </h3>
            <table class="table table-bordered">
              <thead valign="bottom">
              <!--rowspan:縦結合、colspan：横結合-->
                <tr>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">日付</th>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">曜日</th>
                  <th valign="baseline" rowspan="1" colspan="4" class="th-bottom">変更前</th>
                  <th valign="baseline" rowspan="1" colspan="4" class="th-bottom">変更後</th>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">備考</th>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">指示者確認院</th>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">変更</th>
                  <th valign="baseline" rowspan="3" colspan="1" class="th-bottom">勤怠を確認する</th>
                </tr>
                <tr>
                  <th valign="baseline" rowspan="1" colspan="2" class="th-bottom">出社</th>
                  <th valign="baseline" rowspan="1" colspan="2" class="th-bottom">退社</th>
                  <th valign="baseline" rowspan="1" colspan="2" class="th-bottom">出社</th>
                  <th valign="baseline" rowspan="1" colspan="2" class="th-bottom">退社</th>
                </tr>
                <tr>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">時</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">分</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">時</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">分</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">時</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">分</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">時</th>
                  <th valign="baseline" rowspan="1" colspan="1" class="th-bottom">分</th>
                </tr>
              </thead>
                      <% attend.each do |at| %>
                        <%= fields_for "attends[]", at do |fa| %>
                          <tbody>
                            <tr>
                              <!-- 日付 -->
                              <td><%= l(at.worked_on, format: :short) %></td>
                              <!-- 曜日 -->
                              <td><%= $days_of_the_week[at.worked_on.wday] %></td>
                              <!-- 変更前出社時 -->
                              <%# debugger %>
                              <td>
                                <%= l(at.started_at, format: :hour) if at.started_at.present? %>
                              </td>
                              <!-- 変更前出社分 -->
                              <td>
                                <%= l(at.started_at.floor_to(15.minutes), format: :minute) if at.started_at.present? %>
                              </td>
                              <!-- 変更前退社時 -->
                              <td>
                                <%= l(at.finished_at, format: :hour) if at.finished_at.present? %>
                              </td>
                              <!-- 変更前退社分 -->
                              <td>
                                <%= l(at.finished_at.floor_to(15.minutes), format: :minute) if at.finished_at.present? %>
                              </td>
                              <!-- 変更後出社時 -->
                              <td>
                                <%= l(at.request_start_at, format: :hour) if at.request_start_at.present? %>
                              </td>
                              <!-- 変更後出社分 -->
                              <td>
                                <%= l(at.request_start_at.floor_to(15.minutes), format: :minute) if at.request_start_at.present? %>
                              </td>
                              </td>
                              <!-- 変更後退社時 -->
                              <td>
                                <%= l(at.request_finish_at, format: :hour) if at.request_finish_at.present? %>
                              </td>
                              <!-- 変更後退社分 -->
                              <td>
                                <%= l(at.request_finish_at.floor_to(15.minutes), format: :minute) if at.request_finish_at.present? %>
                              </td>
                              <!-- 備考 -->
                              <td><%= at.note %></td>
                              <!-- 指示者確認印 -->
                              <td>
                                <%= fa.select :kintai_change_allow, [["なし", 0], ["申請中", 1], ["承認", 2], ["否認", 3]] %>
                              </td>
                              <!-- 変更チェック -->
                              <td>
                                <%= fa.check_box :kintai_change_allow_check, {checked: false}, "true", "false" %>
                              </td>
                              <!-- 勤怠を確認する -->
                              <td>
                                <%= link_to "確認", "/users/" + at.user_id.to_s + "/users/check", method: :get, class: "btn btn-md btn-primary" %>
                              </td>
                            </tr>
                          </tbody>
                        <% end %>
                      <% end %>
            </table>
                <br>
              <%# end %>
            <% end %>

            <div class="center">
            <%= f.submit "変更を送信する", class: "btn btn-primary btn-default" %>
              <button type="button" class="btn btn-default %>" data-dismiss="modal">
                  キャンセル
              </button> 
            </div>
          <% end %>
        </div>        
      </div>
    </div>
  </div>
</div>